<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    :root {
      --theme-primary: {{theme.primaryColor}};
      --theme-cover: {{theme.coverColor}};
      {{#if theme.palette.[0]}}
      --theme-primary-pastel: {{theme.palette.[0]}};
      {{/if}}
      {{#if theme.palette.[6]}}
      --theme-primary-light: {{theme.palette.[6]}};
      {{/if}}
      {{#each theme.palette}}
      --palette-{{@index}}: {{this}};
      {{/each}}
    }
  </style>
  <style>
    {{{styles}}}
  </style>
</head>
<body>
  {{{body}}}
</body>
</html>
